{% extends "_layout.njk" %}

{% block content %}

{# {{ vars.foo }} #}

<div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint quos doloribus culpa quo soluta neque voluptatem numquam mollitia porro iusto officiis vero impedit exercitationem deserunt aperiam et quas, excepturi at fuga animi qui temporibus aliquam! Doloremque vero atque eaque distinctio eveniet saepe magni quas possimus ab ea. Quos, repudiandae maxime?</div>


{% endblock %}